.App {
  text-align: center;
  align-items: center;
  background-color: antiquewhite;
  padding: 1%;
  height: 100%;
  /* font-family: "Inter"; */
  font-family: sans-serif;
}

/* page1 */
.login{
  width: 85%;
  height: 90vh;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  padding-left: 24%;
  padding-right: 24%;
}

#loginbutton{
  background-color: hsla(253, 69%, 51%, 0.795);
  width: 90%;
  height: 35px;
  margin-right: auto;
  margin-left: auto;
}
.logo{
  margin-top: 0;
  margin-bottom: 15%;
}
.innerlogo{
  font-size: 25px;
  font-weight: 680;
}


.logoimage{
  width: 45px;
  height:35px ;
  margin-bottom: 5px;
}
.card{
  height: 90vh;
  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
  border-style: none;
}

